.collapse{
    display: flex;
    justify-content: center;
}

#TiendadeRopa{
    display: flex;
    justify-content: center;
}
#actualidad{
    background-color: aliceblue;
    white-space: 100pc;
}

.input-group-text{
    font-size: 8rem;
}
@media(max-height:200px) and (min-height:50px){
    .TiendadeRopa{
        height: 50px;
        padding: 10px;
    }
    #imagen{
        height: 40px;
        padding: 10px;
    }
}
